.news-app{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.news-item {
    width: 93%;
    /* height: 75%; */
    padding: 1%;
    border: solid black 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.news-img{
    width: 100%;
    height: 60%;
}




.art-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.news-description{
    font-size: 100%;
}


@media (max-width: 420px) {
   .news-description{
    font-size: 50%;
   }

   .news-img{
    height: 50%;
    width: 100%;
   }
  }