.App {
  text-align: center;
}



.app-container{
  padding-top: 3%;
}

.app-container h1{
  color: black;
  margin-top: 0%;
  font-family: 'Times New Roman', Times, serif;
}

.header-cont{
  display: flex;
  justify-content: center;
  border-bottom: double black 2px;
}
.header-cont h1{
 font-family: cursive;
 font-family: 'Courier Prime', monospace;
 font-size: 2.75rem;
}

